<nav class="post-nav px-5">
  {% if page.previous %}
  <div class="post-nav-item post-nav-prev">
    <a href="{{ page.previous | relative_url }}">
      <div class="nav-arrow">Previous</div>
      <span class="post-title">{{ page.previous.title }}</span>
    </a>
  </div>
  {% endif %} {% if page.next %}
  <div class="post-nav-item post-nav-next">
    <a href="{{ page.next | relative_url }}">
      <div class="nav-arrow">Next</div>
      <span class="post-title">{{ page.next.title }}</span>
    </a>  
  </div>
  {% endif %}
</nav>
