<!-- show a <post> -->
<article
    class="stuff deck w-full flex justify-center border-[4px] rounded-2xl transition-transform duration-500 transform" title="Click to Flip">
    <div class="card clickcard w-[500px] h-[600px]">
        <div class="front face h-full p-2">
            <div class="symbol">
                {% if post.image %}
                <img class="h-60 w-full rounded-lg object-cover" src="{{ post.image }}" alt="{{ post.title }}">
                {% endif %}
            </div>
            <div class="flex justify-between items-start items-center">
                <!-- Visibility -->
                <div class="visibility flex justify-between items-start items-center">
                    {{ post.visibility }}
                </div>
                <!-- Connected -->
                <div class="connected flex items-start items-center">
                    {% for stuff in stuff-list %}
                    <a href="{{ stuff.url }}">
                        <img class="object-cover rounded-xl" src="#" alt="{{ post.title }}" title="{{ post.title }}" />
                    </a>
                    {% endfor %}
                </div>
            </div>
            <!-- Content -->
            <div class="stuff-content">
                <h4>{{ post.title }}</h4>
                <div>
                    {{ post.description }}
                </div>
                <div>
                    {{ post.reference }}
                </div>
            </div>
            <!-- Impact -->
            <div class="impact flex flex-col items-start">
                <h5>Impact</h5>
                {% for cat in cats %}
                <a href="{{ post.url }}">
                    <img class="object-cover rounded-xl" src="" alt="{{ post.title }}" title="{{ post.title }}" />
                </a>
                <a href="{{ post.url }}">
                    <img class="object-cover rounded-xl" src="" alt="{{ post.title }}" title="{{ post.title }}" />
                </a>
                <a href="{{ post.url }}">
                    <img class="object-cover rounded-xl" src="" alt="{{ post.title }}" title="{{ post.title }}" />
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="content back face h-full p-2">
            {% include anchor_headings.html html=content anchorClass="anchor-head" beforeHeading=true h_min=1
            h_max=4 %}
        </div>
    </div>
</article>