<div id="post-viewer" class="m-4 border border-gray-100 rounded-2xl w-full">
    {% include post_navbar.html %}
    {% include share.html %}
    <div id="stuff" class="h-full">
        <div class="wrapper">
            <main class="page-content pb-20" aria-label="Content">
                {% if post.categories %}
                <div class="categories">
                    {% assign cats = post.categories %}
                    <span itemprop="keywords">
                        {% for cat in cats %}
                        <a class="category" href="/category/{{cat | downcase | slugify}}">{{cat | upcase }}</a>{% unless
                        forloop.last %},{% endunless %}
                        {% endfor %}
                    </span>
                </div>
                {% else %}
                <span>NO CATEGORY</span>
                {% endif %}
                {% include seeastuff.html %}
            </main>
        </div>
    </div>
    {% if page.next or page.previous %}
    <div id="navpost" class="bottom-0 mx-4 transition-transform ease-in-out" hidden>
        {% include navigation.html %}
    </div>
    {% endif %}
</div>