<!-- See a stuff -->
<article itemscope itemtype="https://schema.org/BlogPosting">
    <header class="header mt-20 mb-5">
      {% if page.categories %}
      <div class="categories">
        {% assign cats = page.categories %}
        <span itemprop="keywords">
          {% for cat in cats %}
          <a class="category"
            href="/category/{{cat | downcase | slugify}}">{{cat | upcase }}</a>{% unless forloop.last %},{% endunless %}
          {% endfor %}
        </span>
      </div>
      {% else %}
      <span>STUFF</span>
      {% endif %}
      <h1 class="header-title" itemprop="headline">{{ page.title | escape }}</h1>
      {% if page.date %}
      <div class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%b %d, %Y" }}
        </time>
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
          <span itemprop="name">{{ site.author.name }}</span>
        </span>
        <time hidden datetime="{{ page.modified | date_to_xmlschema }}" itemprop="dateModified">
          {{ page.date | date: "%b %d, %Y" }}
        </time>
        <span hidden itemprop="publisher" itemtype="Person">{{ site.author.name }}</span>
        <span hidden itemprop="image">{{ page.image }}</span>
        <span hidden itemprop="mainEntityOfPage">{{ page.excerpt }}</span>
      </div>
      {% endif %}
    </header>
    <hr>
    <div class="page-content" itemprop="articleBody">
      {% include anchor_headings.html html=content anchorClass="anchor-head" beforeHeading=true h_min=1 h_max=4 %}
      {% if page.tweet %}
      <p>Comments this article on 
        <a href="https://twitter.com/{{site.twitter}}/status/{{page.tweet}}">Twitter</a>.
      </p>
      {% endif %}
      
      {% if page.comments %}
        {% include comments.html %}
      {% endif %}

      <!-- TAGS -->
      {% if page.tags and page.tags != empty %}
      <div class="tags">
        {% assign tags = page.tags %}
        <span itemprop="keywords">
          <a class="tag" style="color: gray">TAGS:</a>
          {% for tag in tags %}
          <a class="tag"
            href="/tag/{{tag | downcase | slugify}}">{{tag | upcase }}</a>{% unless forloop.last %},{% endunless %}
          {% endfor %}
        </span>
      </div>
      {% endif %}
      <hr>
      {% unless page.discussing_link == '' %}
      <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-discussion="{{ page.discussing_link | remove: "https://t.me/" }}" data-comments-limit="5" data-colorful="1" data-color="ed812e"></script>
      {% endunless %}
    </div>
  </article>
  {% if page.modified %}
  <small class="post-updated-at">updated_at {{page.modified | date: "%d-%m-%Y"}}</small>
  {% endif %}