<!-- show a <article> -->
<article itemscope>
  <header class="header mt-30 mb-5">
    {% if post.categories %}
    <div id="post-category">
      {% assign cats = post.categories %}
      {% for cat in cats %}
      <a class="font-bold not-underline" href="/category/{{cat | downcase | slugify}}">{{cat | upcase }}</a>{% unless
      forloop.last %},{% endunless %}
      {% endfor %}
    </div>
    {% endif %}
    <h1 class="header-title" itemprop="headline">{{ post.title | escape }}</h1>
    {% if post.date %}
    <div class="post-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ post.date | date: "%b %d, %Y" }}
      </time>
      <span itemprop="author" itemscope itemtype="https://schema.org/Person">
        <span itemprop="name">{{ site.author.name }}</span>
      </span>
      <time hidden datetime="{{ post.modified | date_to_xmlschema }}" itemprop="dateModified">
        {{ post.date | date: "%b %d, %Y" }}
      </time>
      <span hidden itemprop="publisher" itemtype="Person">{{ site.author.name }}</span>
      <span hidden itemprop="image">{{ post.image }}</span>
      <span hidden itemprop="mainEntityOfpost">{{ post.excerpt }}</span>
    </div>
    {% endif %}
  </header>
  <hr>
  <div itemprop="articleBody">
    {% include anchor_headings.html html=content anchorClass="anchor-head" beforeHeading=true h_min=1 h_max=4 %}
    {% if post.tweet %}
    <p>Comments this article on
      <a href="https://twitter.com/{{site.twitter}}/status/{{post.tweet}}">Twitter</a>.
    </p>
    {% endif %}

    {% if post.comments %}
    {% include /archive/comments.html %}
    {% endif %}

    <!-- TAGS -->
    {% if post.tags and post.tags != empty %}
    <div class="tags">
      {% assign tags = post.tags %}
      <span itemprop="keywords">
        <a class="tag" style="color: gray">TAGS:</a>
        {% for tag in tags %}
        <a class="tag" href="/tag/{{tag | downcase | slugify}}">{{tag | upcase }}</a>{% unless forloop.last %},{%
        endunless %}
        {% endfor %}
      </span>
    </div>
    {% endif %}
    <hr>
    {% unless post.discussing_link == '' %}
    <script async src="https://telegram.org/js/telegram-widget.js?22"
      data-telegram-discussion="{{ post.discussing_link | remove: " https://t.me/" }}" data-comments-limit="5"
      data-colorful="1" data-color="ed812e"></script>
    {% endunless %}
  </div>
</article>
{% if post.modified %}
<small class="post-updated-at">updated_at {{page.modified | date: "%d-%m-%Y"}}</small>
{% endif %}