/*
Examples:
https://techzaa.getappui.com/techcard/?storefront=envato-elements
*/

body[data-theme="dark"] {
    .card-stuff {
        background-color: $dark-smoke;
    }
}

/* ----- Product Section ----- */
.card-stuff {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    padding: 2.5em 0;
    background-color: $white;
    border-radius: 5px;

    .card-container {
        position: absolute;
        display: grid;
        grid-template-rows: 1fr;
        background-color: $primary-color;
        border-radius: 6px;
        box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
    }

    .photo-main {
        border-radius: 6px 6px 0 0;

        .controls {
            z-index: 100;
            color: #fff;

            i {
                cursor: pointer;
            }
        }
    }

    .card-detail {
        background-color: $white;

        p {
            @include relative-font-size(.75);
        }

        h4 {
            @include relative-font-size(1);
        }
    }

    /* ----- Informations Section ----- */

    .title {
        h1 {
            margin-bottom: 0.1em;
            color: $black;
            font-size: 1.5em;
            font-weight: 900;
        }

        span {
            font-size: 0.7em;
            color: $gray;
        }
    }

    .variant {
        overflow: auto;

        h3 {
            margin-bottom: 1.1em;
        }
    }

    .description {
        clear: left;
        margin: 2em 0;

        h3 {
            margin-bottom: 1em;
        }
    }

    .buy--btn {
        padding: 1.5em 3.1em;
        border: none;
        border-radius: 7px;
        font-size: 0.8em;
        font-weight: 700;
        letter-spacing: 1.3px;
        color: #fff;
        background-color: $light;
        box-shadow: 2px 2px 25px -7px $black;
        cursor: pointer;

        &:active {
            transform: scale(0.97);
        }
    }

    @media #{$mobile} {
        .connected {
            img {
                width: 1.5rem !important;
                height: 1.5rem !important
            }
        }

        .impact {
            img {
                width: 3rem !important;
                height: 3rem !important;
            }
        }
    }
}

.card-stuff-01 {
    background-color: white;
    box-sizing: border-box;
    border: .5px solid #ada9a650;
    width: 100%;
    max-width: 20rem;

    .card-img {
        img {
            min-height: 10rem;
        }
    }

    .post-item-title {
        //font-size: $medium-font-size;
        font-weight: $bold-weight;
        letter-spacing: 0.1px;

        a {
            color: $text-base-color;

            &:hover,
            &focus {
                color: $black;
            }
        }
    }

    @media #{$mobile} {
        max-width: 100%;
    }
}