// See a stuff
#post-viewer {
    position: fixed;
    border: 1px solid #6b788650;
    height: calc(100dvh - 2rem);
    width: calc(100dvw - 3rem);
    overflow: hidden;
  
    .navbar {
      padding-left: 0;
      padding-right: 0;
      max-width: 100%;
      height: 2.5rem;
      margin: auto
    }
  
    #stuff {
      overflow-y: scroll;
    }
  
    @media #{$mobile} {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      border: none;
  
      .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        z-index: 2;
  
        .menu {
          width: unset;
          padding: .5rem;
        }
      }
  
      #post {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  
  #post-viewer .navbar .menu {
  
    a#mode {
      left: unset;
      top: unset;
      opacity: .7;
    }
  
    .post-image {
      flex-grow: 2;
      flex-basis: 0;
  
      .post-imgthumb {
        width: 40px;
        height: 40px;
        object-fit: cover
      }
    }
  
    .post-trigger {
      flex-grow: 1;
      flex-basis: 0;
    }
  
    .trigger {
      flex-grow: 1;
      flex-basis: 0;
    }
  }