@use "../variables" as *;

.share-popup {
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: top right;
    transform: scale(0);
    background: $dark-white;
    color: $white;
    transition: .5s;
    transition-delay: .25s;

    .quote {
        margin: unset !important;
        padding: unset !important;
    }

    .share-content .share-icons a {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        text-decoration: none;
        border: 1px solid transparent;

        &:hover {
            fill: $white;
        }
    }

    .share-icons a i {
        transition: transform 0.3s ease-in-out;
    }

    .share-icons a:nth-child(1) {
        color: #0A66C2;
        border-color: #7bb6f2;
    }

    .share-icons a:nth-child(1):hover {
        background: #0A66C2;
    }

    .share-icons a:nth-child(2) {
        color: #1877F2;
        border-color: #b7d4fb;
    }

    .share-icons a:nth-child(2):hover {
        background: #1877F2;
    }

    .share-icons a:nth-child(3) {
        color: #46C1F6;
        border-color: #b6e7fc;
    }

    .share-icons a:nth-child(3):hover {
        background: #46C1F6;
    }

    .share-icons a:nth-child(4) {
        color: #e1306c;
        border-color: #f5bccf;
    }

    .share-icons a:nth-child(4):hover {
        background: #e1306c;
    }

    .share-icons a:hover {
        color: #fff;
        border-color: transparent;
    }

    .share-icons a:hover i {
        transform: scale(1.2);
    }

    .share-content .share-field {
        margin: 12px 0 -5px 0;
        height: 44px;
        border: 1px solid $light;
        background-color: $white;

        i {
            font-size: 18px;
            text-align: center;
        }

        .active {
            border-color: #7d2ae8;

            i {
                color: #7d2ae8;
            }
        }

        input {
            width: 100%;
            // height: 100%;
            border: none;
            outline: none;
            font-size: 15px;
        }

        button {
            cursor: pointer;
            color: $black;
            background: $white;
        }

        button:hover {
            background: rgba($primary-color, .8);
        }
    }
}

.share-popup.active {
    transform: scale(1);
    transition-delay: 0s;
}