---
layout: default
---

<header class="header mt-30">
  <h1 class="header-title center" itemprop="headline">{{ page.title | escape }}.</h1>
</header>

<div class="archive-tags text-center">
  <a class="tag-item p-2" href="/category/">all categories</a>
  {%- for category in site.categories -%} 
  {% capture name %}{{ category | first }}{% endcapture %}
  {% if page.title !=  name %}
  <a class="tag-item p-2" href="/category/{{ name | slugify }}">{{ name }}</a>  
  {% endif %}
  {%- endfor -%}
</div>

<section class="py-4">
  <div class="search-article">
    <label for="search-input" aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="rgba(128,128,128,0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
    </label>
    <input type="search" id="search-input" placeholder="Are you looking for some stuff ?" aria-label="Search">
  </div>
  
  <ul id="search-results"></ul>
</section>

<section class="categories">
    {% capture cat %}{{ category | first }}{% endcapture %}
    <h2 id="{{ cat }}">{{ cat | upcase }}</h2>
    <div class="flex flex:wrap gap-6 w-[fit-to-screen] justify-center py-2">
      {% if cat == null or cat == "" %}
        {%- for post in paginator.posts -%}
        {% unless post.hidden %}
          {% include stuff.html %}
        {% endunless %}
        {%- endfor -%}
      {% else %}
      <span>Nothing to show</span>
      {% endif %}
    </div>
</section>

{% include pagination.html %}