---
layout: default
home: true
---

<section class="mt-30">
  {% include author.html %}
</section>

<!-- Recent -->
<section class="py-4">
  <h3 class="posts-item-note text-center" aria-label="Recent Stuff">Recent</h3>
  {% assign posts_list = site.posts %}

  <div class="flex flex:wrap gap-6 w-[fit-to-screen] justify-center py-2">
    {%- for post in posts_list limit:site.number_of_posts -%}
      {% unless post.hidden %}
        {% include stuff.html %}
      {% endunless %}
    {%- endfor -%}
  </div>
</section>

<!-- Featured -->
<section class="py-4">
  <h3 class="posts-item-note" aria-label="Featured">Featured</h3>
  <ul class="posts">
    {% assign all_items = site.posts %}
    {% for collection in site.collections %}
      {% assign all_items = all_items | concat: collection.docs %}
    {% endfor %}
    {%- for post in site.data.featured limit:site.number_of_posts -%}
      {% assign stuff = all_items | where_exp: "item", "item.title == post.title" | first %}
      <li>
          <a class="post-link not-underline flex-wrap items-center" href="{{ stuff.url | relative_url }}">
            {{ stuff.title }}
            {% if stuff.image %}
            <img class="object-cover rounded-md w-6 h-6" src="{{ stuff.image }}" alt="{{ title_of_post }}">
            {% endif %}
          </a>
      </li>
    {%- endfor -%}
  </ul>
</section>

<!-- Collections -->
<section class="py-4">
  {% for collection in site.collections %}
  {% unless collection.label == "posts" %}
  <h3 class="posts-item-note" aria-label="Stuff">{{collection.name}}</h3>
  <ul class="posts">
    {% for file in site[collection.label] limit:site.number_of_posts %}
      <li>
          <a class="post-link not-underline flex-wrap items-center" href="{{ file.url | relative_url }}">
            {{ file.title }}
            {% if file.image %}
            <img class="object-cover rounded-md w-6 h-6" src="{{ file.image }}" alt="{{ file.title }}">
            {% endif %}
          </a>
      </li>
    {%- endfor -%}
  </ul>
  {% endunless %}
  {% endfor %}
</section>

<!-- Categories -->
<section class="py-4">
  <h3 class="posts-item-note" aria-label="Categories">Categories</h3>
  {%- for category in site.categories -%}
  {% capture cat %}{{ category | first }}{% endcapture %}
  <article class="post-item">
    <h4 class="post-item-title">
      {% capture name %}{{ category | first }}{% endcapture %}
      <a href="/category/{{ name | slugify }}">{{ name }} ({{ site.categories[cat].size }})</a>
    </h4>
  </article>
  {%- endfor -%}
</section>