---
layout: default
home: true
---

<section class="mt-30">
  {% include author.html %}
</section>
<section class="py-4">
  <h3 class="posts-item-note text-center" aria-label="Recent Stuff">Recent Stuff</h3>
  {% assign posts_list = site.posts %}

  <div class="flex flex:wrap gap-6 w-[fit-to-screen] justify-center py-2">
    {%- for post in posts_list limit:site.number_of_posts -%}
      {% unless post.hidden %}
        {% include stuff.html %}
      {% endunless %}
    {%- endfor -%}
  </div>
</section>

<section class="py-4">
  <h3 class="posts-item-note" aria-label="Featured">Featured</h3>
  <ul class="posts">
    {%- for post in site.data.featured limit:site.number_of_posts -%}
      {% assign title_of_post = post.title %}
      {% assign stuff = site.posts | | where_exp: "item", "item.title == title_of_post" %}
      <li>
          <a class="post-link not-underline flex-wrap items-center" href="{{ stuff[0].url | relative_url }}">
            {{ title_of_post }}
            <img class="object-cover rounded-md w-6 h-6" src="{{ stuff[0].image }}" alt="{{ title_of_post }}">
          </a>
      </li>
    {%- endfor -%}
  </ul>
</section>

<section class="py-4">
  <h3 class="posts-item-note" aria-label="Categories">Categories</h3>
  {%- for category in site.categories -%}
  {% capture cat %}{{ category | first }}{% endcapture %}
  <article class="post-item">
    <h4 class="post-item-title">
      {% capture name %}{{ category | first }}{% endcapture %}
      <a href="/category/{{ name | slugify }}">{{ name }} ({{ site.categories[cat].size }})</a>
    </h4>
  </article>
  {%- endfor -%}
</section>