---
layout: default
---

<header class="header mt-30">
  <h1 class="header-title center" itemprop="headline">{{ page.title | escape }}.</h1>
</header>

<div class="archive-tags text-center">
  <a class="tag-item" href="/tags/">all</a>
  {%- for tag in site.tags -%} 
    {% capture name %}{{ tag | first }}{% endcapture %}
    <a class="tag-item" href="/tag/{{name | downcase | slugify}}">{{ name }}</a> 
  {%- endfor -%}
</div>

<section class="posts">
  {% capture tag %}{{ tag | first }}{% endcapture %}
  {% assign posts_list = page.posts %}
  <h2 id="{{ tag }}">{{ tag | upcase }}</h2>
  <div class="flex flex:wrap gap-6 w-[fit-to-screen] justify-center py-2">
    {% if tag == null or tag == "" %}
      {%- for post in posts_list -%}
      {% unless post.hidden %}
        {% include stuff.html %}
      {% endunless %}
      {%- endfor -%}
    {% else %}
    <span>Nothing to show</span>
    {% endif %}
  </div>
</section>